/* #region reset rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* #endregion reset rules */

/* #region colors */
:root {
  --bg-header: #ff6900;
  --bg-price: #ff0000;
  --bg-footer: #1a1a1a;
}
/* #endregion colors */

/* #region utilities */
body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.mt-50 {
  margin-top: 50px;
}
/* #endregion utilities */

/* #region header */
header {
  background-color: var(--bg-header);
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

header li {
  margin: 0 10px;
}

.filter {
  font-weight: bold;
}

.logo {
  justify-content: center;
  padding: 1rem;
}

.logo img {
  width: 30%;
}
/* #endregion header */

/* #region main */
.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* Card style */
.card {
  border: 2px solid #dddddd;
  width: 30%;
  margin: 35px 15px;
}

.card-img img {
  border-bottom: 2px solid #dddddd;
  max-width: 100%;
}

.card-content {
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}

.price {
  font-weight: bold;
  color: var(--bg-price);
}

.price-barred {
  font-style: normal;
  font-weight: 400;
  text-decoration: line-through;
  color: #000000;
}
/* #endregion main */

/* #region footer */
footer {
  background-color: var(--bg-footer);
  color: #ffffff;
}

footer .container {
  padding: 1.5rem;
  justify-content: space-between;
}

.info li {
  margin-top: 5px;
  margin-right: 15px;
  font-size: 12px;
}

.social ul {
  margin-top: 5px;
  font-size: 20px;
  justify-content: space-between;
}
/* #endregion footer */
